<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.netflix">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Mainscreens.MovieDetails"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Mainscreens.VideoPlayer"
            android:screenOrientation="landscape"/>
        <activity android:name=".Mainscreens.Settings"
            android:screenOrientation="portrait"/>
        <activity android:name=".Mainscreens.Search"
            android:screenOrientation="portrait"/>
        <activity android:name=".Mainscreens.Movies"
            android:screenOrientation="portrait"/>
        <activity android:name=".Mainscreens.TvSeries"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.PaymentOverdue"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.PaymentGateway"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.StepThree"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.StepTwo"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.FinishUpAccount"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ChooseYourPlan"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.StepOne"
            android:screenOrientation="portrait"/>
        <activity android:name=".Mainscreens.Mainscreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.SwipeScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.SigninActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_9bomarUQOaMoWG" />
    </application>

</manifest>